html, body {
  height: 100%;
}
body {
  min-height: 100%;
  background: black;
  animation: colors 14s infinite linear;
}
@keyframes colors {
  @for $i from 0 through 100 {
    #{$i*1%} {
         $color1: hsla((($i - 1) * 3.6), 50%, 50%, 1);
         $color2: hsla(($i * 3.6) + 60, 50%, 50%, 1);
      background: linear-gradient(left,$color1, $color2);
    }
  }
}
h1 {
  color: white;
  text-align: center;
}
h4 {
  color: white;
  text-align: center;
}
img.list{
  width: 200px ;
  height: 200px ;
}
div.colectionCenter{
  position: absolute;
  width: 100%;
  height: 50%;
}